<div class="row">
  <div class="col-sm-12">
    <blockquote class="blockquote">
      <p class="mb-0">{{quote.text}}</p>
      <footer class="blockquote-footer">{{quote.author}}<span *ngIf="quote.title">, <cite title="Source Title">{{quote.title}}</cite></span></footer>
    </blockquote>
    <hr/>
    <p>Reset will <strong>totally wipe</strong> all your progress.</p>
    <p>It's probably a <em>good idea</em> to refresh your browser after you reset.</p>  
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-block btn-danger" (click)="reset()">
      Reset
    </button>          
  </div>
</div>
