<style>
  .progress-bar {
    color: white;
  }
</style>
<div class="mb-4">
  <h1 class="text-center">
    <code>{{state.energy | formatScore}}</code>
  </h1>
  <h5 class="text-center">Generating <code>{{state.output | formatNumber}}</code> joule per second</h5>
  <h5 *ngIf="state.toasters > 0" class="text-center">There {{state.toasters === 1 ? 'is' : 'are'}} <code>{{state.toasters}}</code> {{state.toasters === 1 ? 'toaster' : 'toasters'}} flying around</h5>
</div>
<div class="progress mb-4 mt-2" style="height: 20px">
  <div class="progress-bar progress-bar-striped progress-bar-animated" 
    role="progressbar" 
    [style.width]="progress().toFixed(0) + '%'" 
    [attr.aria-valuenow]="progress()" 
    aria-valuemin="0" 
    aria-valuemax="100">
    {{progress().toFixed(1)}}%
  </div>
</div>
<div *ngIf="progress() >= 100" class="mb-4">
  <button
  type="button"
  class="btn btn-success btn-block"
  (click)="evolve()">
  Evolve
  </button>
</div>
<div *ngIf="progress() < 100" class="mb-4">
  Next evolutionary algorithm at <code>{{target() | formatCost}}</code> joule
</div>