<div class="container">
  <app-score></app-score>
  <nav>
    <div class="nav nav-pills mb-2" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-generators-tab" data-toggle="tab" href="#nav-generators" role="tab"
        aria-controls="nav-generators" aria-selected="true">Generators</a>
      <a class="nav-item nav-link" id="nav-achievements-tab" data-toggle="tab" href="#nav-achievements" role="tab"
        aria-controls="nav-achievements" aria-selected="false">Achievements</a>
      <a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options" role="tab"
        aria-controls="nav-options" aria-selected="false">Options</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-generators" role="tabpanel" aria-labelledby="nav-generators-tab">
      <app-generators></app-generators>
    </div>
    <div class="tab-pane fade" id="nav-achievements" role="tabpanel" aria-labelledby="nav-achievements-tab">
      <app-achievements></app-achievements>
    </div>
    <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
      <app-options></app-options>
    </div>
  </div>
</div>